data_preprocessing/
model_ckpts/onnx_models
model_ckpts/orthogonal-VideoMAE-2-131-labels
model_ckpts/VideoMAE-2-131-labels
model_ckpts/VideoMAE-2-131-labels-more-data
model_ckpts/VideoMAE-2-base
model_ckpts/VideoMAE-2-base-ss-finetuned
model_ckpts/VideoMAE-base-ss-finetuned
model_ckpts/vit-s-videomae-v2

models/i1d.py
models/i3d.py
models/knowledge_distillation.py
models/model_debugging.py
models/orthogonal.py
models/x3d.py

scripts/distillation.sh
scripts/orthogonal_videomae_v2.sh

train/alt_train_from_scratch.py
train/last_layer_distillation.py

utils/util_i1d.py

.env
i1d.ipynb
i3d.ipynb
kd_training_code.ipynb
training_w_hf.ipynb
validation_test.ipynb
