imageio==2.36.0
imageio-ffmpeg==0.5.1
numpy==1.26.4
opencv==4.7.0
opencv-python==4.8.0.74
tqdm==4.66.5
torch==2.4.1
transformers==4.45.0
python-dotenv==1.0.1
wandb==0.18.2
Pillow==9.2.0
torchvision==0.16.0a0
ai-edge-torch==0.2.0
timm==1.0.9
onnx==1.17.0
onnxruntime==1.19.2
onnxconverter-common==1.14.0
scikit-learn==1.2.0
torchsummary==1.5.1
ipython==8.14.0

